<div id="<%= dom_id analises_solo %>">
  <div>
    <strong>Propriedade:</strong>
    <%= analises_solo.propriedade_id %>
  </div>

  <div>
    <strong>Safra:</strong>
    <%= analises_solo.safra_id %>
  </div>

  <div>
    <strong>Atividade:</strong>
    <%= analises_solo.atividade_id %>
  </div>

  <div>
    <strong>Aatividade gleba:</strong>
    <%= analises_solo.aatividade_gleba_id %>
  </div>

  <div>
    <strong>Atividade safra:</strong>
    <%= analises_solo.atividade_safra_id %>
  </div>

  <div>
    <strong>Data coleta:</strong>
    <%= analises_solo.data_coleta %>
  </div>

</div>
