<div id="<%= dom_id gleba %>">
  <div>
    <strong>Descricao:</strong>
    <%= gleba.descricao %>
  </div>

  <div>
    <strong>Ativo:</strong>
    <%= gleba.ativo %>
  </div>

  <div>
    <strong>Area hectares:</strong>
    <%= gleba.area_hectares %>
  </div>

  <div>
    <strong>Propriedade:</strong>
    <%= gleba.propriedade_id %>
  </div>

</div>
