<div id="<%= dom_id movimentacao_estoque_insumo %>">
  <div>
    <strong>Quantidade:</strong>
    <%= movimentacao_estoque_insumo.quantidade %>
  </div>

  <div>
    <strong>Valor unitario:</strong>
    <%= movimentacao_estoque_insumo.valor_unitario %>
  </div>

  <div>
    <strong>Ajuste estoque:</strong>
    <%= movimentacao_estoque_insumo.ajuste_estoque_id %>
  </div>

  <div>
    <strong>Insumo:</strong>
    <%= movimentacao_estoque_insumo.insumo_id %>
  </div>

</div>
