<div id="<%= dom_id recomendacoes_agricolas_iten %>">
  <div>
    <strong>Recomendacoes agricola:</strong>
    <%= recomendacoes_agricolas_iten.recomendacoes_agricola_id %>
  </div>

  <div>
    <strong>Principios ativos:</strong>
    <%= recomendacoes_agricolas_iten.principios_ativos_id %>
  </div>

  <div>
    <strong>Insumo:</strong>
    <%= recomendacoes_agricolas_iten.insumo_id %>
  </div>

  <div>
    <strong>Dose:</strong>
    <%= recomendacoes_agricolas_iten.dose %>
  </div>

  <div>
    <strong>Quantidade:</strong>
    <%= recomendacoes_agricolas_iten.quantidade %>
  </div>

</div>
