<p style="color: green"><%= notice %></p>

<%= render @recomendacoes_agricolas_iten %>

<div>
  <%= link_to "Edit this recomendacoes agricolas iten", edit_recomendacoes_agricolas_iten_path(@recomendacoes_agricolas_iten) %> |
  <%= link_to "Back to recomendacoes agricolas itens", recomendacoes_agricolas_itens_path %>

  <%= button_to "Destroy this recomendacoes agricolas iten", @recomendacoes_agricolas_iten, method: :delete %>
</div>
