<div id="<%= dom_id cidade %>">
  <div>
    <strong>Descricao:</strong>
    <%= cidade.descricao %>
  </div>

  <div>
    <strong>Codigo ibge:</strong>
    <%= cidade.codigo_ibge %>
  </div>

  <div>
    <strong>Latitude:</strong>
    <%= cidade.latitude %>
  </div>

  <div>
    <strong>Longitude:</strong>
    <%= cidade.longitude %>
  </div>

  <div>
    <strong>Estado:</strong>
    <%= cidade.estado_id %>
  </div>

</div>
