<div id="<%= dom_id analises_solo_resultado %>">
  <div>
    <strong>Analises solo:</strong>
    <%= analises_solo_resultado.analises_solo_id %>
  </div>

  <div>
    <strong>Parametro medido:</strong>
    <%= analises_solo_resultado.parametro_medido %>
  </div>

  <div>
    <strong>Parametro medido:</strong>
    <%= analises_solo_resultado.parametro_medido_id %>
  </div>

  <div>
    <strong>Valor:</strong>
    <%= analises_solo_resultado.valor %>
  </div>

</div>
