<%= form_with(model: analises_solo_resultado) do |form| %>
  <% if analises_solo_resultado.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(analises_solo_resultado.errors.count, "error") %> prohibited this analises_solo_resultado from being saved:</h2>

      <ul>
        <% analises_solo_resultado.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :analises_solo_id, style: "display: block" %>
    <%= form.text_field :analises_solo_id %>
  </div>

  <div>
    <%= form.label :parametro_medido, style: "display: block" %>
    <%= form.text_field :parametro_medido %>
  </div>

  <div>
    <%= form.label :parametro_medido_id, style: "display: block" %>
    <%= form.number_field :parametro_medido_id %>
  </div>

  <div>
    <%= form.label :valor, style: "display: block" %>
    <%= form.text_field :valor %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
