<p style="color: green"><%= notice %></p>

<%= render @analises_solo_resultado %>

<div>
  <%= link_to "Edit this analises solo resultado", edit_analises_solo_resultado_path(@analises_solo_resultado) %> |
  <%= link_to "Back to analises solo resultados", analises_solo_resultados_path %>

  <%= button_to "Destroy this analises solo resultado", @analises_solo_resultado, method: :delete %>
</div>
