<p style="color: green"><%= notice %></p>

<%= render @principios_ativo %>

<div>
  <%= link_to "Edit this principios ativo", edit_principios_ativo_path(@principios_ativo) %> |
  <%= link_to "Back to principios ativos", principios_ativos_path %>

  <%= button_to "Destroy this principios ativo", @principios_ativo, method: :delete %>
</div>
