<%= form_with(model: atividade_safra) do |form| %>
  <% if atividade_safra.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(atividade_safra.errors.count, "error") %> prohibited this atividade_safra from being saved:</h2>

      <ul>
        <% atividade_safra.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :atividade_id, style: "display: block" %>
    <%= form.text_field :atividade_id %>
  </div>

  <div>
    <%= form.label :safra_id, style: "display: block" %>
    <%= form.text_field :safra_id %>
  </div>

  <div>
    <%= form.label :propriedade_id, style: "display: block" %>
    <%= form.text_field :propriedade_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
