<p style="color: green"><%= notice %></p>

<%= render @atividade_safra %>

<div>
  <%= link_to "Edit this atividade safra", edit_atividade_safra_path(@atividade_safra) %> |
  <%= link_to "Back to atividade safras", atividade_safras_path %>

  <%= button_to "Destroy this atividade safra", @atividade_safra, method: :delete %>
</div>
