<div id="<%= dom_id aplicaoes_insumo %>">
  <div>
    <strong>Propriedade:</strong>
    <%= aplicaoes_insumo.propriedade_id %>
  </div>

  <div>
    <strong>Atividade:</strong>
    <%= aplicaoes_insumo.atividade_id %>
  </div>

  <div>
    <strong>Atividade safra:</strong>
    <%= aplicaoes_insumo.atividade_safra_id %>
  </div>

  <div>
    <strong>Atividade gleba:</strong>
    <%= aplicaoes_insumo.atividade_gleba_id %>
  </div>

  <div>
    <strong>Usuario:</strong>
    <%= aplicaoes_insumo.usuario_id %>
  </div>

  <div>
    <strong>Maquina:</strong>
    <%= aplicaoes_insumo.maquina_id %>
  </div>

  <div>
    <strong>Operador:</strong>
    <%= aplicaoes_insumo.operador %>
  </div>

  <div>
    <strong>Recomendacoes agricola:</strong>
    <%= aplicaoes_insumo.recomendacoes_agricola_id %>
  </div>

  <div>
    <strong>Area aplic:</strong>
    <%= aplicaoes_insumo.area_aplic %>
  </div>

  <div>
    <strong>Data inicio:</strong>
    <%= aplicaoes_insumo.data_inicio %>
  </div>

  <div>
    <strong>Data final:</strong>
    <%= aplicaoes_insumo.data_final %>
  </div>

</div>
