<div id="<%= dom_id talho %>">
  <div>
    <strong>Descricao:</strong>
    <%= talho.descricao %>
  </div>

  <div>
    <strong>Ativo:</strong>
    <%= talho.ativo %>
  </div>

  <div>
    <strong>Area hectares:</strong>
    <%= talho.area_hectares %>
  </div>

  <div>
    <strong>Propriedade:</strong>
    <%= talho.propriedade_id %>
  </div>

</div>
