<div id="<%= dom_id ajuste_estoque %>">
  <div>
    <strong>Usuario:</strong>
    <%= ajuste_estoque.usuario_id %>
  </div>

  <div>
    <strong>Propriedade:</strong>
    <%= ajuste_estoque.propriedade_id %>
  </div>

  <div>
    <strong>Observacao:</strong>
    <%= ajuste_estoque.observacao %>
  </div>

  <div>
    <strong>Data:</strong>
    <%= ajuste_estoque.data %>
  </div>

  <div>
    <strong>Entrada saida:</strong>
    <%= ajuste_estoque.entrada_saida %>
  </div>

</div>
