<p style="color: green"><%= notice %></p>

<%= render @unidades_medida %>

<div>
  <%= link_to "Edit this unidades medida", edit_unidades_medida_path(@unidades_medida) %> |
  <%= link_to "Back to unidades medidas", unidades_medidas_path %>

  <%= button_to "Destroy this unidades medida", @unidades_medida, method: :delete %>
</div>
