<div id="<%= dom_id aplicacoes_itens_insumo %>">
  <div>
    <strong>Aplicacoes insumo:</strong>
    <%= aplicacoes_itens_insumo.aplicacoes_insumo_id %>
  </div>

  <div>
    <strong>Principios ativo:</strong>
    <%= aplicacoes_itens_insumo.principios_ativo_id %>
  </div>

  <div>
    <strong>Insumo:</strong>
    <%= aplicacoes_itens_insumo.insumo_id %>
  </div>

  <div>
    <strong>Quantidade aplic:</strong>
    <%= aplicacoes_itens_insumo.quantidade_aplic %>
  </div>

  <div>
    <strong>Dose aplic:</strong>
    <%= aplicacoes_itens_insumo.dose_aplic %>
  </div>

</div>
