<p style="color: green"><%= notice %></p>

<%= render @aplicacoes_itens_insumo %>

<div>
  <%= link_to "Edit this aplicacoes itens insumo", edit_aplicacoes_itens_insumo_path(@aplicacoes_itens_insumo) %> |
  <%= link_to "Back to aplicacoes itens insumos", aplicacoes_itens_insumos_path %>

  <%= button_to "Destroy this aplicacoes itens insumo", @aplicacoes_itens_insumo, method: :delete %>
</div>
