<div id="<%= dom_id insumo %>">
  <div>
    <strong>Descricao:</strong>
    <%= insumo.descricao %>
  </div>

  <div>
    <strong>Semente:</strong>
    <%= insumo.semente %>
  </div>

  <div>
    <strong>Ativo:</strong>
    <%= insumo.ativo %>
  </div>

  <div>
    <strong>Unidades medida:</strong>
    <%= insumo.unidades_medida_id %>
  </div>

  <div>
    <strong>Principios ativo:</strong>
    <%= insumo.principios_ativo_id %>
  </div>

</div>
