<div id="<%= dom_id fichamento %>">
  <div>
    <strong>Parametro metrica:</strong>
    <%= fichamento.parametro_metrica_id %>
  </div>

  <div>
    <strong>Classificacao:</strong>
    <%= fichamento.classificacao %>
  </div>

  <div>
    <strong>Valor min:</strong>
    <%= fichamento.valor_min %>
  </div>

  <div>
    <strong>Valor max:</strong>
    <%= fichamento.valor_max %>
  </div>

</div>
