<div id="<%= dom_id recomendacoes_agricola %>">
  <div>
    <strong>Safra:</strong>
    <%= recomendacoes_agricola.safra_id %>
  </div>

  <div>
    <strong>Atividade:</strong>
    <%= recomendacoes_agricola.atividade_id %>
  </div>

  <div>
    <strong>Analises solo:</strong>
    <%= recomendacoes_agricola.analises_solo_id %>
  </div>

  <div>
    <strong>Propriedade:</strong>
    <%= recomendacoes_agricola.propriedade_id %>
  </div>

  <div>
    <strong>Atividade gleba:</strong>
    <%= recomendacoes_agricola.atividade_gleba_id %>
  </div>

  <div>
    <strong>Atividade safra:</strong>
    <%= recomendacoes_agricola.atividade_safra_id %>
  </div>

  <div>
    <strong>Data recomendacao:</strong>
    <%= recomendacoes_agricola.data_recomendacao %>
  </div>

  <div>
    <strong>Recomendante:</strong>
    <%= recomendacoes_agricola.recomendante %>
  </div>

  <div>
    <strong>Operador:</strong>
    <%= recomendacoes_agricola.operador %>
  </div>

</div>
