<div id="<%= dom_id gleba_ponto %>">
  <div>
    <strong>Latitude:</strong>
    <%= gleba_ponto.latitude %>
  </div>

  <div>
    <strong>Longitude:</strong>
    <%= gleba_ponto.longitude %>
  </div>

  <div>
    <strong>Ordem:</strong>
    <%= gleba_ponto.ordem %>
  </div>

  <div>
    <strong>Gleba:</strong>
    <%= gleba_ponto.gleba_id %>
  </div>

</div>
