<div id="<%= dom_id usuario %>">
  <div>
    <strong>Nome:</strong>
    <%= usuario.nome %>
  </div>

  <div>
    <strong>Usuario:</strong>
    <%= usuario.usuario %>
  </div>

  <div>
    <strong>Senha:</strong>
    <%= usuario.senha %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= usuario.email %>
  </div>

  <div>
    <strong>Operador:</strong>
    <%= usuario.operador %>
  </div>

</div>
