<p style="color: green"><%= notice %></p>

<%= render @principios_ativos_nutriente %>

<div>
  <%= link_to "Edit this principios ativos nutriente", edit_principios_ativos_nutriente_path(@principios_ativos_nutriente) %> |
  <%= link_to "Back to principios ativos nutrientes", principios_ativos_nutrientes_path %>

  <%= button_to "Destroy this principios ativos nutriente", @principios_ativos_nutriente, method: :delete %>
</div>
